.table {
    width: 100%;
}

td,
th {
    min-width: 100px;
    max-width: 200px;
    text-align: center;
}

.fixed-column {
    text-align: left !important;
    width: 150px;
    position: sticky;
    background-color: white;
    z-index: 2;
    border-right: 1px solid #ddd;
}

.fixed-column:nth-child(1) {
    left: 0;
}

.fixed-column:nth-child(2) {
    left: 150px;
}

.fixed-column:nth-child(3) {
    left: 300px;
}